html, body {
  margin: 0;
  padding: 0;
  background-color: #575757;
}

canvas {
  position: absolute; 
  top: 0px; 
  left: 0px; 
  right: 0px; 
  bottom: 0px; 
  margin: auto; 
  border:2px solid black
}
